<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <header>
        <a href="/">Home</a>
        <a href="/searchpage">Search</a>
        <a href="/list">List</a>
    </header>
    <main>
        <div id="homecontainer">
            <% result.forEach(item=>{%>
                <div id="maincard">
                    <h1>
                        <%=item.title %>
                    </h1>
                    <p>
                        <%=item.company%>
                    </p>
                    <p>
                        <%=item.location %>
                    </p>
                    <p>
                        <%=item.url %>
                    </p>
                </div>
              
                <%})%>
    

        </div>
      
    </main>
</body>

</html>